source/_ReSharper.Filefisher
*.suo
source/FilefisherLib/obj/*
**/bin/Debug/*
source/packages
**/obj/Debug/*
*.user
**/obj/*
source/FilefisherLib/bin/Debug/
source/FileScanner/bin/Debug/
source/FileScanner/obj/Debug/
source/FileScannerTest/bin/Debug/
source/FileScannerTest/obj/Debug/
**\Debug/
**/bin/Release/

/source/.vs/
